extends ../../components/layout/template.pug

block variables
  - var page = 'music'

block content
  .container
    h1 Музыка
  .apple-link-box
    .container
      include ../../components/apple_links/template.pug
  .container
    .music-page
      .first-column
        .music-page__albums.albums
          .album
            .album__cover
              img.album__cover-img(src=require('../../images/cover-milost.jpg').default alt='Обложка альбома Под твою милость')
            .album__information
              h2.album__title Под твою милость
              h3.album__description Духовные песнопения
              a.album__buy-button.button(href='https://geo.music.apple.com/us/album/beneath-thy-mercy/209220648?mt=1&app=music' target='_blank' aria-label='Купить альбом') Купить
          .album
            .album__cover
              img.album__cover-img(src=require('../../images/cover-queen.jpeg').default alt='Обложка альбома Царице моя Преблагая')
            .album__information
              h2.album__title Царице моя Преблагая
              h3.album__description Духовные песнопения
              a.album__buy-button.button(href='https://geo.music.apple.com/us/album/my-heavenly-queen/209092195?mt=1&app=music' target='_blank' aria-label='Купить альбом') Купить
          .album
            .album__cover
              img.album__cover-img(src=require('../../images/cover-revival.jpeg').default alt='Обложка альбома Возрождение')
            .album__information
              h2.album__title Возрождение
              h3.album__description Посвящается 100-летию Раифского монастыря
              a.album__buy-button.button(href='https://geo.music.apple.com/us/album/my-heavenly-queen/209092195?mt=1&app=music' target='_blank' aria-label='Купить альбом') Купить
          .album
            .album__cover
              img.album__cover-img(src=require('../../images/cover-bells.jpeg').default alt='Обложка альбома Вeчерний звон')
            .album__information
              h2.album__title Вeчерний звон
              h3.album__description Сборник русских народных песен и романсов
              a.album__buy-button.button(href='https://geo.music.apple.com/us/album/those-evening-bells/209210461?mt=1&app=music' target='_blank' aria-label='Купить альбом') Купить
          .album
            .album__cover
              img.album__cover-img(src=require('../../images/cover-bride.jpeg').default alt='Обложка альбома Радуйся, Невесто Неневестная')
            .album__information
              h2.album__title Радуйся, Невесто Неневестная
              h3.album__description Сборник русских народных песен и романсов
              a.album__buy-button.button(href='https://geo.music.apple.com/us/album/joy-heavenly-bride/208990774?mt=1&app=music' target='_blank' aria-label='Купить альбом') Купить
          .album
            .album__cover
              img.album__cover-img(src=require('../../images/cover-pritcha.jpeg').default alt='Обложка альбома Раифская притча')
            .album__information
              h2.album__title Раифская притча
              h3.album__description "Во кузнице" сингл
              a.album__buy-button.button(href='https://geo.music.apple.com/us/album/at-the-blacksmiths-single/507650125?mt=1&app=music' target='_blank' aria-label='Купить альбом') Купить
        .video.video__music
          a(class='video__link' href='https://youtu.be/QBjtHi5mu4w')
            img(class='video__img-music video__img' src='https://i.ytimg.com/vi/QBjtHi5mu4w/maxresdefault.jpg' alt='Видео Казацкая песня «Не для меня» в исполнении вокального квартета Раифского монастыря «Притча»')
          button(class='video__button' aria-label='Запустить видео')
            svg(width='68' height='48' viewBox='0 0 68 48')
              path(class='video__button-shape' d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z')
              path(class='video__button-icon' d='M 45,24 27,14 27,34')
      .second-column
        p.music__article Музыка вокального квартета “Притча” наполнена духовностью и умиротворением. Все музыкальные композиции записываются в самом сердце Раифы - в соборе св. Троицы при приглашении профессионального звукорежиссёра. Процесс создания одного альбома занимает несколько месяцев, а иногда и лет, что говорит о профессиональном подходе к музыкальному делу и трепетном отношении к своей деятельности.
        p.music__article Русские народные песни и романсы, исполняемые “Притчей” несут в себе миссионерскую деятельность, рассказывая всему миру об удивительной русской культуре, о величайших поэтах и композиторах, когда-то живших на этих землях. Грузинские песни неразрывно связаны с историей Раифского монастыря, ведь здесь находится чудотворная икона Грузинской Божьей матери. А композиции на украинском, английском и других языках говорят о культурном многообразии нашего прекрасного мира.
        p.music__article Но, конечно, духовная музыка остаётся главной, потому что  она приближает к Богу и одухотворяет человека, очищает его внутренние помыслы и делает этот мир умиротворённей.
        p.music__article--hl Если же Вы желаете приобрести оригинальный диск/флеш-карту с записями квартета, Вы можете это сделать непосредственно в самом Раифском монастыре.
        iframe.music__playlist(allow='autoplay *; encrypted-media *;' frameborder='0' height='450' style='width:100%;max-width:660px;overflow:hidden;background:transparent;' sandbox='allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation' src='https://embed.music.apple.com/us/album/revival/209109574?app=music')

